<!DOCTYPE html>
<html lang="en">
<head>

<!-- Meta -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="emre bilkay, emre bilkay müzik, emre bilkay music ,emre bilkay">
<!-- Title -->
<title><%= genelayarlars.site_title  %></title>
<meta name=”description” content=”emre bilkay, emre bilkay internet sitesi ,emre bilkay müzik,emre bilkay music,bafra müzisyen”> 
<!-- Favicons -->
<link rel="shortcut icon" href="images/favicon.png">
<link rel="apple-touch-icon" href="images/favicon_60x60.png"> 
<link rel="apple-touch-icon" sizes="76x76" href="images/favicon_76x76.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/favicon_120x120.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/favicon_152x152.png">

<!-- Google Web Fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400italic,400,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,700,500' rel='stylesheet' type='text/css'>

<!-- Stylesheets -->
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/owl.carousel.css" />
<link rel="stylesheet" href="css/owl.theme.css" />
<link rel="stylesheet" href="css/swiper.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="fonts/flaticon.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="colors/green.css" id="color" />

</head>

<body>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

 

<!-- Page Wrapper -->
<div id="page-wrapper">
	
	<!-- Home -->
    <div id="home">
    	<div class="home-wrapper">

	    	<div class="home-content home-photo main-photo dark">	
	    		<div class="" data-alpha="60" style="opacity: -24.4;"></div>
	    		<div class="yazi text-center" style="margin-top: 10%;"><span class="home-title"> <strong><%=girissayfasis.page1_title %></strong></span><%=girissayfasis.page1_slogan %></div>
	
	    			
 	    		</div>
	    	</div>

	    	<!-- Start Button -->
		<a href="#" id="btn-start" data-target="next-section"><div style="
				margin-left: -130px;
				left: 0;
				font-size: 21px;
				width: 182px;
				margin-top: 10px;
			"><%=girissayfasis.page1_buton_text %></div></a>

	    	<!-- Main Nav -->
	    	<nav id="main-nav">
	    		<!-- Menu Toggle -->
	    		<a href="#" class="menu-toggle menu-toggle-destop" data-target="menu-toggle"></a>
	    		<!-- Content -->
	            <div class="text-right vertical-center">
	        		<div class="nav-text">
		        		<div class="my-avatar"><img src="images/uploads/emre abi" class="img-circle" alt="" /></div>
						<h2 class="margin-bottom-0">Emre  <strong>Bİlkay</strong></h2>	
		        		<h6 class="nav-caption">Profesyonel  <span class="text-primary">Solist</span> Bağlama sanatçısı</h6>
		        	</div>
					
	        		<!-- <div class="content-buttons">
	            		<a href="#" class="btn btn-primary" data-placement="1">Download my CV</a>
	            		<a href="blog.html" class="btn btn-primary" data-placement="3">Check my Blog</a>-->
	                </div>
	            </div>
	    		<!-- Naviga	ion buttons -->
	            <div class="nav-buttons">
	            	<a href="#" class="btn-prev" data-target="prev-section"><span></span></a>
	            	<a href="#" class="btn-next" data-target="next-section"></a>
	            </div>
	    	</nav>
	    	
    	</div>	
    </div> 
    <!-- Home / End -->

    <!-- Sections -->
    <div id="sections" class="swiper-container">
        <div class="swiper-button-prev" data-target="prev-section" style="background-color: transparent;"></div>
            <div class="swiper-button-next"   data-target="next-section" style="background-color: transparent;"></div>
    	<div class="swiper-wrapper">

    		<!-- Resume -->
			<section id="resume" class="swiper-slide" data-caption=" <span>Solist</span> &amp; <span>Bağlama sanatçısı</span>" data-title="My Resume">
				<div class="section-wrapper">
					<div class="resume-grid padded">
						<div class="row">

			    			<div class="resume-col">

			    				<!-- About -->
				    			<div class="resume-box">
				    				<h4 class="title-bar title-bar-black title-bar-hover"><strong>Hakkımda</strong> </h4>
				    				<div class="box-content">
				    					<p class="lead"><%= hakkimizdas.page2_hakkimizdatop %></p>.
										<p><%= hakkimizdas.page2_hakkimizdabot %></p>
 				    				</div>
				    			</div>


								<h2>spotify Profilim</h2>

								<iframe style="border-radius:12px" src="<%= hakkimizdas.page2_spotify_link %>" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>


				    		

				    		</div>

				    		<div class="resume-col">

			    			 
 	<!-- Services -->
	 <div class="resume-box" style="margin-top: 3rem;">
		<h4 class="title-bar title-bar-black title-bar-hover">Sosyal Medya <strong>Hesaplarım</strong></h4>
		<div class="box-content">
			<% socialmedia.forEach(function(socialmediaitems) { %>
			<div class="single-service">	
				<div class="service-icon icon icon-black icon-circle icon-filled">
					<img src="<%=socialmediaitems.socialmedia_logo  %>" alt="">
				</div>
				<div class="service-content">
					<a href="<%=socialmediaitems.link  %>"><img src="<%=socialmediaitems.socialmedia_img  %>" alt=""></a>
				</div>
			</div>
			<% }); %>
		</div>
	</div>
				    		</div>

				    		 

						</div>
					</div>
				</div>
			</section>
			<!-- Resume / End -->

	    	<!-- Portfolio -->
			

			<section id="portfolio" class="swiper-slide" data-caption="Look at my <span>works</span>" data-title="My Portfolio">
				<div class="section-wrapper">
					<div class="container">
						<h1 class="fw-light text-center text-lg-start mt-4 mb-0" style="margin-top: 10px;">Video Galeri</h1>

						<div class="row">
							<% videogaleris.forEach(function(videogalerisitem) { %>
							<!-- Her video için bir kart oluşturun -->
							<div class="col-md-4" style="margin-top: 10%;">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title"><%=videogalerisitem.videogaleri_title  %> </h5>
										<!-- YouTube videoyu iframe olarak ekleyin -->
										<div class="embed-responsive embed-responsive-16by9">
										<iframe width="1236" height="695" src="<%=videogalerisitem.socialmedia_url  %>" title="DAVACI - [Official Video] - Emre BİLKAY - [4K] #davacı" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>									
										</div>											
									</div>															
								</div>
							</div>
							<% }); %>
							<!-- Diğer videolar için aynı kart yapısını tekrarlayın -->
						</div>
					  
					</div>
				</div>
				<!-- Item Details -->
				<div id="portfolio-details"></div>
				<!-- Ajax Loader -->
				<div class="ajax-loader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
			</section>
			<!-- Portfolio / End -->
          <section id="portfolio" class="swiper-slide" data-caption="Look at my <span>works</span>" data-title="My Portfolio">
				<div class="section-wrapper">
					<div class="container">

						<h1 class="fw-light text-center text-lg-start mt-4 mb-0" style="margin-top: 10px;">Fotoğraf Galerisi</h1>

					  
						<hr class="mt-2 mb-5">
					  
						<div class="row text-center text-lg-start row justify-content-between" >
							<% fotografgalerises.forEach(function(fotografgalerisesitem) { %>
						
						   
                            <div class="col-lg-3 col-md-4 col-6">
							<a href="#" class="d-block mb-4 h-100">
							  <img class="img-fluid img-thumbnail" src="<%= fotografgalerisesitem.fotografgalerisi_url %>" alt="">
							</a>
						  </div>
						  <% }); %>
						</div>
					  
					  </div>
				</div>
				<!-- Item Details -->
				<div id="portfolio-details"></div>
				<!-- Ajax Loader -->
				<div class="ajax-loader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
			</section>

    		<!-- Latest Posts -->
			<section id="latestPosts" class="swiper-slide" data-caption="Check my <span>latest posts</span>" data-title="Latest Posts">
				<div class="section-wrapper">
					<h1 class="fw-light text-center text-lg-start mt-4 mb-0" style="margin-top: 10px;">HABERLER</h1>

					<div class="middle-container padded">

		    			<!-- Posts List -->
		    			<div class="blog-post-list">
		    				<div class="row">
									 
			    				<!-- Post -->
								<% haberlers.forEach(function(haberlersitems) { %>
			    				<div class="post col-lg-6 ">
			    					<div class="post-image"><img src="<%=haberlersitems.img %>" alt="" /></div>
			    					<div class="post-content">
			    						<div class="post-category">
			    							<span class="label label-black">Faliyet</span>
			    						</div>
			    						<div class="post-title">
			    							<h4><a href="blog-post.html"><%=haberlersitems.title %></a></h4>
			    						</div>
			    						<div class="post-meta">
			    							<span><i class="icon-before fa fa-user"></i><a href="#"></a></span>
			    							 
			    						</div>
			    						<div class="post-text">
			    							<p><%=haberlersitems.desc %></p>
			    						</div>
			    					 
			    					</div>
			    				</div>
								<% }); %>
							
								 
								 
								 
			    			 
			    			</div>
			    	 
		    			</div>

					</div>

				</div>
			</section>
			<!-- Latest Posts / End -->

     

		</div>

		<!-- Menu Toggle -->
    	<a href="#" class="menu-toggle menu-toggle-mobile" data-target="menu-toggle"></a>

    </div>
    <!-- Sections / End -->

    <!-- Mobile Info -->
	<div id="mobile-info">
		<span class="left fa fa-chevron-left"></span><span class="right fa fa-chevron-right"></span>
	</div>

	<!-- Main Menu -->
	<div id="main-menu" class="dark">
		<!-- Menu Toggle -->
    	<a href="#" id="menu-close"></a>
		<ul class="nav nav-menu vertical-center">
			<li><a href="#" data-slide="1">Hakkımda & Sosyal Medya Hesaplarım</a></li>
			<li><a href="#" data-slide="2">Fotoğraf Galerisi</a></li>
			<li><a href="#" data-slide="3">Vİdeo Galerisi</a></li>
			<li><a href="#" data-slide="4">Faliyetler</a></li>
		 
		</ul>
	</div>
    
</div>
<!-- Page Wrapper / End -->

<!-- Libraries -->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="js/plugins.js"></script>

<!-- Google Map -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="js/GoogleMap.js"></script>

<!-- Custom Script -->
<script src="js/custom.min.js"></script>

<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
<!--
<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
-->
 
</body>

</html>
